body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 94, 227);
    color: rgb(6, 98, 67); /* Change the text color to white */
}